/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add styles for medium screens here */
  Header {
    Height: 200px;
  }
  .banner {
    Height: 400px;
  }
  .events {
    Margin-top: 40px;
    Margin-bottom: 40px;
  }
  .weather {
    Margin-top: 40px;
    Margin-bottom: 40px;
  }
  .businesses {
    Margin-top: 40px;
    Margin-bottom: 40px;
    Display: flex;
    Flex-wrap: wrap;
    Justify-content: space-between;
  }
  .business {
    Width: 30%;
    Margin-bottom: 20px;
  }
  Footer {
    Margin-top: 40px;
    Margin-bottom: 40px;
  }
}
