
      /* base.css */  

 h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    
}

h2, h3, p{
    text-align: center;
}
body {
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
header{
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
    margin-bottom: 5%;
    
    border-radius: 10px;
    height: 150px;
}
#hero-banner{
    height: auto;
    position: relative;
    display: block;
    max-width: 1200px;
}
#hero-banner a {
    position: absolute;
    background-color: #e59500;
    color: #001625;
    text-decoration: none;
    box-shadow: 3px 3px 3px #002642;
    padding: 3%;
    border-radius: 10px;
    top: 40px;
    left: 40%;
}

#hero-banner img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.logo{
    display:flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
  

}
header .brand {
    text-align: left;
    font-size: 60%;
    padding: 3%;
    margin-right: 20%;

}
header .brand h1 {
    margin-bottom:-5px;
    
}
.logo_image{
    max-width: 100%;
    
}
    

header,footer {
    margin: 0 auto; /* Center the header and footer */
    padding: 20px; /* Add padding for better appearance */
    background-color: #002642; /* Background color for header and footer */
    color: white;
}
.heading {
    color: #ffffff;
}
.navigation{
    color: white;
    text-align: center;
    display:flex;
    justify-content: space-around;
    align-items: center;
   
    padding: 0 20px;
    }
    .social{
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .social a {
        margin-right: 10%;
        width: 40px;
    }

    .social a img{
        max-width: 100%;
        height:auto;
        object-fit: cover;
    }

    nav ul {
        list-style-type: none; /* Remove bullets */
    }
    
    nav a {
        text-decoration: none; /* Remove underline from links */
        color: white; /* Set link color */
    }

    
    
    
    /* Style for card sections */
    .cards,.card1, .card2, .card3, .card4 {
        border: 1px solid #ddd; /* Border for the cards */
        padding: 20px; /* Padding for content within the cards */
        border-radius: 8px; /* Rounded corners for a card-like appearance */
    }
    
    /* Additional styling for links within the course links list */
    .card a, .card1 a {
        text-decoration: none; /* Remove underline from links */
        color: #085486; /* Set link color */
    }
    
    .card a:hover, .card1 a:hover {
        text-decoration: underline; /* Underline links on hover */
    }
      .footer {
        background-color:#002642 ;
         align-items: center;
        padding: 2% 2% 0 2%;
        border-radius: 10px;
        font-size: 70%;
    }

    .Location {
        text-decoration:none;
        font-weight: 700;
        display: block;
        margin-top: 15px;
    }
.contacts #Location{
    color:#e59500;
}
    .location:hover {
        color:#001625;
    }

    .contacts{
        grid-column: 2/3;
    }

    
    .footer span {
        text-decoration: underline;
    }
    .last-update {
        color:orange;
    }
   .logo_image{
    width: 65px;
    height: 50px;
        border-radius: 25%;
        object-fit: cover;
        
        } 
        .footer-logo img {
            width: 75px;
            height: 75px;
            border-radius: 25%;
            object-fit: cover;
            margin-left: 50px;
            } 
            .section2{
                padding-bottom: 1%;
            }

            .hr{
                max-width: 80%;
            }
        #hamburger {
            display: none; /* Hide in larger views */
            
            /* Add more styles as needed */
        }
        
        #hamburger{
            border: 1px solid #001625;
            background-color: #e59500;
            margin-left: 20%;
            display: flex;
            justify-content: flex-end;
        }

        .footer.Location{
            text-decoration: #e59500;
        }
        
        
        /* Media query for smaller views */
        @media screen and (max-width: 768px) {

            .social a {
                margin: 0 5%; /* Adjust social icon margin */
            }
            .social a img, .logo_image, .footer-logo img {
                max-width: 100%;
                height: auto;}
            .footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
            .footer-logo, .contacts, .section2 {
                width: 100%; /* Ensure they take up the full width */
                text-align: center;
            }
            
            
             #hamburger {
                display: block; /* Show in smaller views */
                margin: 10px auto;
                padding: 10px;
                background-color: #e59500;
                border: none;
                cursor: pointer;
            }
        
            nav ul {
                display: none; /* Initially hide the navigation menu */
            }
        
            /* Ensure the navigation menu displays as a column when toggled open by JS */
            nav ul {
                flex-direction: column;
            }
        
        }
        /* Add this to show the navigation menu items vertically when the hamburger menu is clicked */
#hamburger.active + nav ul {
    display: flex; /* Or 'block' depending on your setup */
}
.theme-switch-wrapper {
    position: absolute;
    top: 20px;
    right: 60px; /* Adjust based on the size and position of your hamburger menu */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
body.dark-mode {
    background-color: #000;
    color: #fff;
}

body.dark-mode .card, body.dark-mode header, body.dark-mode footer {
    background-color: #333; /* Dark backgrounds for specific elements */
    color: #fff;
}


  /* discover css*/

   

  
  .discover{
    display: grid;
    grid-template-columns: 1fr 3fr; /* Sidebar takes 1/4th and main content takes 3/4ths */
    gap: 20px;
    padding: 20px;
    height: 100%;
  }

  .discover_images{
    grid-column: 2/3;
  }

   .discover_images section{
    border: 1px solid #001625;
    padding: 10px; /* Adds some spacing inside the border */
    margin-bottom: 30px; /* Increases the spacing between each section */
  }
  
  .sidebar {
    background-color: #f0f0f0; /* Example color */
  }

  .sidebar > div {
    padding: 10px;
    margin-bottom: 20px; /* Space between sidebar items */
    background-color: #f0f0f0; /* Example background color */
    border-radius: 5px; /* Example border radius */}

    .sidebar {
        /*display: flex;
        flex-direction: column;*/
        display: grid;
        grid-template-rows: repeat(4, auto);
        box-sizing: border-box;
      }
      
      .sidebar > div {
        margin-bottom: 20px; /* Space between div elements */
      }
      
      .sidebar > div:last-child {
        margin-bottom: 0; /* Remove margin from the last div */
      }

      .sidebar > div.expandable {
        flex-grow: 1;
      }
   #visitMessage,#weather, #demographics ,#calendar{
    border: 1px solid #001625;

  }
  .discover-imgs {
    max-width: 100%;
    transition: transform 0.5s ease;
  }
  
  .discover-imgs:hover {
    transform: scale(1.05); /* Example hover effect */
  }
  
  @media screen and (max-width: 768px) {
    .discover {
      grid-template-columns: 1fr; /* Single column for mobile */
    }

    .discover_images {
        grid-column: 1; /* Ensure discover_images takes full width */
      }
    
      .discover_images section {
        margin-bottom: 20px; /* Adjust if needed */
      }
  
    .discover-imgs:hover {
      transform: none; /* No hover effect for mobile */
    }
  }

  form, .membership-benefits {
    display: inline-block;
    vertical-align: top;
  }
  
  .membership-benefits {
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    border: 5px solid #e59500;
    border-radius: 10px;
        grid-column: 2/3;
        height: 90%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
  
  
  @media screen and (max-width: 768px) {
    .membership-benefits {
      display: block;
      width: auto;
      margin: 0;
    }
  }
  
  
@media screen and (min-width: 768px) {
    main.join{
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr)); /* Creates a 2-column layout where each column takes up an equal fraction of the available space */
      gap: 15px; /* Sets both the row and column gaps to 15px */
      
    }
    .grid-container{
        display: flex;
        flex-direction: column;
    }
    
  }
  form {
    text-align: center;
}
.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    border: 5px solid #e59500;
    border-radius: 10px;
    max-width: 100%;
    grid-column: 1/2;
}

.form-row label {
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
    padding: 0.5px;
    margin-left: 40px;
}

form label {
    display: block;
    margin-bottom: 1rem;
    color: #001625;
    font-size: 1rem;
}

form input, form select, form textarea {
    display: block;
    width: 100%;
    max-width: 20rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: solid 1px #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #555;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}
 .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    background-color: #f9f9f9;
    position: relative; /* Added positioning */
    box-shadow: 8px 8px 10px #e59500;
  }
  
  .card img{
    width:100%;
    
  }
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px ,1fr));
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
    
   
  }
  
  .list-container ul {
    list-style-type: none;
    padding: 0;
  }
   
   .business-list-item {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout by default */
    gap: 10px; /* Adjust spacing between items as needed */
  }

  .banner{
    display: block;
    background-color:#e59500;
    width: 100%; /* Ensure it spans the full width */
    margin-left: 1%;
    margin-right: 50%;
  text-align: center; /* Center the text */
  padding: 2%; /* Add some padding */
  top: 0;
  z-index: 1000; 
  color:#001625;
  margin-top: 20px;
  margin-bottom: 20px;
  }

  .forecast-container {
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
}

.forecast-card {
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.forecast-card img {
    width: 20px;
    height: 20px;
}

.forecast-card p {
    margin: 5px 0;
}
