body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h2, h3, p{
    text-align: center;
}
body {
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
header{
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
    margin-bottom: 5%;
    padding: 0 2% 3% 2%; border-radius: 10px;
    height: 150px;
}
.hero-banner{
    height: 200px;
}

.hero-banner img{
    object-fit: cover;
}
.logo, .brand{
    display:flex;
    align-items: center;
    margin-right: 0;

}
header .brand {
    text-align: left;
    font-size: 60%;
    padding: 0;

}
header .brand h1 {
    margin-bottom:-5px;
    
}
.logo_image{
    width: 100%;
    
}
    

header,nav, footer {
    margin: 0 auto; /* Center the header and footer */
    padding: 20px; /* Add padding for better appearance */
    background-color: #002642; /* Background color for header and footer */
    color: white;
}
.navigation{
    color: white;
    text-align: center;
    display:flex;
    justify-content: space-around;
    align-items: center;
   
    padding: 0 20px;
    }
    .social{
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        padding: 0;
        gap: -5px;
    }

    .social a {
        margin-right: 30px;
        width: 40px;
    }

    .social a img{
        width: 32px;
        height:auto;
        object-fit: cover;
    }

    nav ul {
        list-style-type: none; /* Remove bullets */
    }
    
    nav a {
        text-decoration: none; /* Remove underline from links */
        color: white; /* Set link color */
    }

    main {
        max-width: 90%; /* Adjust the maximum width as needed */
        margin: 0 auto; /* Center the main element */
        display: grid;
        grid-template-columns: 1fr; /* Single column layout */
        gap: 5px; /* Adjust the gap between sections */
        font-weight: 18px;
        color: #001625;
        border-color: #e59500;
    }
    
    /* Style for card sections */
    .card,.card1, .card2, .card3, .card4 {
        border: 1px solid #ddd; /* Border for the cards */
        padding: 20px; /* Padding for content within the cards */
        border-radius: 8px; /* Rounded corners for a card-like appearance */
    }
    
    /* Style for the course links list */
    .card ul, .card1 ul {
        list-style-type: none; /* Remove bullets */
    }
    
    /* Additional styling for links within the course links list */
    .card a, .card1 a {
        text-decoration: none; /* Remove underline from links */
        color: #085486; /* Set link color */
    }
    
    .card a:hover, .card1 a:hover {
        text-decoration: underline; /* Underline links on hover */
    }
      .footer {
        background-color:#002642 ;
         align-items: center;
        padding: 2% 2% 0 2%;
        border-radius: 10px;
        font-size: 70%;
    }

    .Location {
        text-decoration:none;
        font-weight: 700;
        display: block;
        margin-top: 15px;
    }
.contacts #Location{
    color:#e59500;
}
    .location:hover {
        color:#001625;
    }

    .contacts{
        grid-column: 2/3;
    }

    .footer-logo {
        max-width: 50%;
        margin-left: 25%;
    }
    .footer span {
        text-decoration: underline;
    }
    .last-update {
        color:orange;
    }
   .logo_image{
        width: 65px;
        height: 50px;
        border-radius: 25%;
        object-fit: cover;
        margin-right: 20px;
        } 
        .footer-logo img {
            width: 75px;
            height: 75px;
            border-radius: 25%;
            object-fit: cover;
            margin-left: 50px;
            } 

            .hr{
                max-width: 80%;
            }
        #hamburger {
            display: none; /* Hide in larger views */
            /* Add more styles as needed */
        }
        
        #closeIcon {
            display: none; /* Hide initially */
            font-size: 1.5em; /* Adjust the font size as needed */
            margin-left: 5px; /* Add spacing between hamburger and close icon */
        }
        
        
        /* Media query for smaller views */
        @media screen and (max-width: 768px) {
            #hamburger {
                display: block; /* Show in smaller views */
            }
        
            #closeIcon {
                display: none; /* Hide initially in smaller views */
            }
        
        }
        
        /* Add this line to link to larger.css */
        @import url('larger.css');
        