/* medium.css */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Adjust to two columns */
        justify-items: center; /* Center items */
        padding: 20px;
    }
    .footer-logo, .contacts, .section2 {
        width: auto;
    }
    .footer-logo {
        display: flex;
        align-items: center;
        max-width: 100%;
        margin: 0%;
        
    }
    .footer-logo .company {
        text-align: left;
        }
    
    .section2 {
        grid-column: 1 / -1; /* Make section2 span all columns */
    }
    .section2 section{
        display: flex; /* Encourage horizontal layout */
        justify-content: space-around; /* Distribute space around items */
        align-items: center; /* Center items vertically */
    }
}

hr {
    grid-column: 1/4;
    width: 100%;
}